<div *ngIf="view">
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>FIRST NAME </th>
        <th>LAST NAME </th>
        <th>PICTURE</th>
      </tr>
    </thead>
    <tbody *ngIf="view">
      <tr *ngFor="let v of view.data">
        <td>{{v.id}}</td>
        <td>{{v.title}}</td>
        <td>{{v.firstName}}</td>
        <td>{{v.lastName}}</td>
        <td>{{v.picture}}</td>
        <td>
          <div><button (click)="getUserId(v.id)" class="btn btn-dark">Full Users</button></div>
        </td>
        <td>
          <div><button (click)="updateUser(v.id)" class="btn btn-warning">Update Users</button></div>
        </td>
        <td>
          <div><button (click)="deleteUser(v.id)" class="btn btn-danger">Delete Users</button></div>
        </td>
      </tr>
      <tr>
        <td>TOTAL:</td>
        <td>{{view.total}}</td>
      </tr>
      <tr>
        <td>PAGE:</td>
        <td>{{view.page}}</td>
      </tr>
      <tr>
        <td>LIMIT:</td>
        <td>{{view.limit}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="viewid" class="m-5 p-5 bg-primary">
  <!-- {{viewid|json}} -->

  id:{{viewid.id}}<br>
  title:{{viewid.title}}<br>
  firstName:{{viewid.firstName}}<br>
  lastName:{{viewid.lastName}}<br>
  gender:{{viewid.gender}}<br>
  email:{{viewid.email}}<br>
  dateOfBirth:{{viewid.dateOfBirth}}<br>
  registerDate:{{viewid.registerDate}}<br>
  phone:{{viewid.phone}}<br>
  picture:{{viewid.picture}}<br>
  location:{{viewid.location}}<br>

</div>
<div>
  <button (click)="createUser()" class="btn btn-success">Create Users</button>
</div>